<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs/claims-home"></ion-back-button>
    </ion-buttons>
    <img slot="start" style="width: 30px" src="assets/img/logo.png" alt="">
    <ion-title>Claims Statements</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div *ngIf="isLoading">
    <div class="px-2 py-1" *ngFor="let claim of [1, 2, 3, 4, 5, 6, 7, 8]">
      <ion-item lines="full" button>
        <ion-icon class="bg-gems-primary-blue p-2 rounded text-white" name="receipt" slot="start"></ion-icon>
        <ion-icon slot="end" name="download-outline"></ion-icon>
        <ion-label class="font-semibold">
          <h3 class="block text-lg"><ion-skeleton-text animated style="width: 80%"></ion-skeleton-text></h3>
          <p class="text-sm text-gray-700"><ion-skeleton-text animated style="width: 50%"></ion-skeleton-text></p>
        </ion-label>
      </ion-item>
    </div>
  </div>

  <div>
    <div class="px-2 py-1" *ngFor="let claim of claims; let i = index;" (click)="downloadClaimStatement(claim.Reference)">
      <ion-item lines="full" button>
        <ion-icon class="bg-gems-primary-blue p-2 rounded text-white" name="receipt" slot="start"></ion-icon>
        <ion-icon slot="end" name="download-outline"></ion-icon>
        <ion-label class="font-semibold">
          <span class="block">{{claim.Date | date: 'longDate'}}</span>
          <span class="text-sm font-normal text-gray-600">{{claim.Reference}}</span>
        </ion-label>

      </ion-item>
    </div>
  </div>

</ion-content>
