<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button class="text-black dark:text-dark-modegraylight">
        <ion-icon src="./assets/img/menu.svg"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <img slot="start" style="width: 30px" src="assets/img/logo.png" alt="">
    <ion-title>Downloads</ion-title>
  </ion-toolbar>
  <div class="gems-border">
    <div class="rainbow">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ion-header>

<ion-content class="ion-padding">
  <!-- <div class="bg-white flex flex-col">
    <img src="assets/img/pdf.png" alt="">
  </div> -->





  <div>




    <span *ngIf="documents" class="font-medium text-sm mt-0 mb-2 block">Member Certificate</span>
    <div *ngIf="documents" class="shadow-md rounded-md overflow-hidden">
      <ion-item lines="none" detail (click)="downloadMemberCertificate(documents?.MemberCertificate.Name)">
        <ion-icon class="font-bold" color="primary" src="assets/img/pdf17.svg" slot="start"></ion-icon>
        <ion-label>
          <span
            class="dark:text-gray-500 font-bold text-lg leading-loose">{{documents?.MemberCertificate.date | date: 'mediumDate'}}</span>
          <!-- <h2>Emerald Value</h2> -->
        </ion-label>
      </ion-item>
    </div>


    <!-- <ion-list *ngIf="documents">
    <ion-list-header>
      Member Certificate
    </ion-list-header>
    <ion-item (click)="downloadMemberCertificate(documents?.MemberCertificate.Name)">
      <ion-icon name="cloud-download-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>{{documents?.MemberCertificate.date | date: 'mediumDate'}}</h2>
      </ion-label>
      
    </ion-item>
  </ion-list> -->
    <!-- <ion-list *ngIf="documents">
    <ion-list-header>
      Tax Certificates
    </ion-list-header>
    <ion-item (click)="downloadTaxCertificate(document?.Name, document.YearStringValue)" *ngFor="let document of documents?.TaxCertificates">
      <ion-icon name="cloud-download-outline" slot="start"></ion-icon>
      <ion-label>
        <h2>{{document?.YearStringValue | date: 'mediumDate'}}</h2>
      </ion-label>
    </ion-item>
  </ion-list> -->
    <span *ngIf="documents" class="font-medium text-sm mt-3 mb-3 block">Tax Certificates</span>
    <div *ngIf="documents" class="shadow-md rounded-md overflow-hidden">
      <ion-item *ngFor="let document of documents?.TaxCertificates" lines="inset" detail
        (click)="downloadTaxCertificate(document?.Name, document.YearStringValue)">
        <ion-icon class="font-bold" color="primary" src="assets/img/pdf17.svg" slot="start"></ion-icon>
        <!-- <ion-avatar slot="start">
        <img src="./assets/img/pdf.png" alt="">
      </ion-avatar> -->
        <ion-label>
          <span
            class="dark:text-gray-500 font-bold text-lg leading-loose">{{document?.YearStringValue | date: 'mediumDate'}}</span>
          <!-- <h2>Emerald Value</h2> -->
        </ion-label>
      </ion-item>
    </div>

    <div *ngIf="documents && documents?.TaxCertificates.length === 0">
      You do not have any tax certificates
    </div>

    <div *ngIf="isLoading">
      <ion-list>
        <ion-list-header>
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
        </ion-list-header>
        <ion-item *ngFor="let document of [1]">
          <ion-icon name="cloud-download-outline" slot="start"></ion-icon>
          <ion-label>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-list-header>
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
        </ion-list-header>
        <ion-item *ngFor="let document of [1, 2, 3, 4, 5, 6]">
          <ion-icon name="cloud-download-outline" slot="start"></ion-icon>
          <ion-label>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>





  </div>




</ion-content>