
<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/onboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
  <div class="gems-border">
    <div class="rainbow">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="login-wrapper">
    <div class="top">
      <div class="logo">
        <img src="assets/img/gemslogo.png" width="221" height="95">
      </div>
    </div>


    <div class="bottom">
      <div id="content">

        <form  [formGroup]="loginForm" (ngSubmit)='onLogin()'>
          <ion-item lines="none">
            <ion-input placeholder="Username" name="UserName" formControlName="UserName"></ion-input>
            <ion-button slot="end" fill="clear">
              <ion-icon color="primary" name="person-outline"></ion-icon>
            </ion-button>
          </ion-item>

          <div class="text-red-600 text-xs mb-1" *ngIf="errorHandling('UserName', 'required')">Username is required</div>

          

          <!-- <span class="error-msg text-xs" style="color: red" *ngIf="usernameInput.invalid && usernameInput.touched">Please enter
            a valid username</span>
          <div style="height: 5px"></div> -->

          <ion-item lines="none">
            <ion-input [type]="showPassword ? 'text' : 'password'" placeholder="Password" name="Password" formControlName="Password"></ion-input>
            <ion-button slot="end" fill="clear" (click)="togglePassword()">
              <ion-icon color="primary" [name]="passwordToggleIcon"></ion-icon>
            </ion-button>
          </ion-item>

          <div class="text-red-600 text-xs mb-1" *ngIf="errorHandling('Password', 'required')">Password is required</div>
          <div class="text-red-600 text-xs mb-1" *ngIf="errorHandling('Password', 'pattern')">Password must be at least 8 characters containing a
            least a capital letter, a number and a special character (e.g #,!,@).
          </div>

          <button [disabled]="loginForm.invalid" class="bg-gems-primary-blue p-4 text-gray-200 font-bold text-lg w-full rounded-full disabled:opacity-50">
            Sign In
          </button>

        </form>



        <div class="flex mt-4 px-2">
          <div class="w-1/2 flex justify-start">
            <span class="text-xs font-bold text-black dark:text-dark-modegraylight" routerLink="/forgot-password">Forgot Password</span>
          </div>
          <div class="w-1/2 flex justify-end">
            <span class="text-xs font-bold text-black dark:text-dark-modegraylight" routerLink="/retrieve-username">Retrieve Username</span>
          </div>
        </div>

      </div>

    </div>

  </div>
</ion-content>
