
<div id="strip">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<div style="position: absolute; width: 100%; top: 0; z-index: 1; background: url('assets/img/strip.png'); background-size: cover; height: 8px"></div>

<ion-content>
  <div class="login-wrapper">
    <div class="top">
      <div class="logo">
        <img src="assets/img/gemslogo.png" width="221" height="95">
      </div>
    </div>


    <div class="bottom">
      <div id="content">

        <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
          <ion-item lines="none">
            <ion-input name="username" ngModel placeholder="Enter Username" type="text" #usernameInput="ngModel"
              required username></ion-input>
            <ion-button slot="end" fill="clear">
              <ion-icon color="primary" name="person-outline"></ion-icon>
            </ion-button>
          </ion-item>

          <span class="error-msg text-xs" style="color: red" *ngIf="usernameInput.invalid && usernameInput.touched">Please enter
            a valid username</span>
          <div style="height: 5px"></div>

          <ion-item lines="none">
            <ion-input name="password" ngModel placeholder="Enter Password" type="password" #passwordInput="ngModel"
              required></ion-input>
            <ion-button fill="clear" slot="end">
              <ion-icon color="primary" name="key-outline"></ion-icon>
            </ion-button>
          </ion-item>


          <span class="error-msg text-xs" style="color: red" *ngIf="passwordInput.invalid && passwordInput.touched">Please
            enter a valid password</span>

          <button [disabled]="loginForm.invalid" class="bg-gems-primary-blue p-4 text-gray-200 font-bold text-lg w-full rounded-full disabled:opacity-50">
            Sign In
          </button>

          <!-- <ion-button id="signIn" [disabled]="loginForm.invalid" shape="round" type="submit" color="primary" expand="full">Sign In</ion-button> -->
        </form>

        <!-- <div id="signFooterLinks">
          <span routerLink="/forgot-password" class="text-xs">Forgot Password</span>
          <span>|</span>
          <span routerLink="/register" class="text-xs">Register</span>
          <span routerLink="/retrieve-username" class="text-xs">Retrieve Username</span>
        </div> -->

        <div class="flex mt-4 px-2">
          <div class="w-1/2 flex justify-start">
            <span class="text-xs font-bold text-black dark:text-dark-modegraylight" routerLink="/forgot-password">Forgot Password</span>
          </div>
          <div class="w-1/2 flex justify-end">
            <span class="text-xs font-bold text-black dark:text-dark-modegraylight" routerLink="/retrieve-username">Retrieve Username</span>
          </div>
        </div>

      </div>

    </div>

  </div>
</ion-content>
