<div id="strip">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<div style="position: absolute; width: 100%; top: 0; z-index: 1; background: url('assets/img/strip.png'); background-size: cover; height: 8px"></div>

<ion-content>

  <div class="wrapper">

    <ion-slides #slides [options]="slideOpts" mode="md">

      <ion-slide>
        <div class="top">
          <img src="assets/img/login/claims_screen.png">

        </div>
        <div class="bottom">
          <span class="block font-bold text-3xl">Claims Management<br> Simplified</span>
          <ion-text color="dark">
            <span class="block text-sm my-3">Lorem Ipsum is simply dummy text</span>
          </ion-text>

          <ion-button color="primary" fill="solid" shape="round" (click)='goToSlide()'>Next</ion-button>
          <span class="block mt-1 text-sm text-gray-700" routerLink="/onboard">Skip this step</span>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="top">
          <img src="assets/img/login/360_view_screen.png">

        </div>
        <div class="bottom">
          <span class="block font-bold text-3xl">360&deg; View</span>
          <ion-text color="dark">
            <span class="block text-sm my-3 px-6">Enjoy a personalised experience on the App. Here you will have a 360 view of your profile. You can also view your recent activity, Balances, Option type, Add or terminate a dependant, Membership number and acess to your personal health records.</span>
          </ion-text>

          <ion-button color="primary" fill="solid" shape="round" (click)='goToSlide()'>Next</ion-button>

          <span class="block mt-1 text-sm text-gray-700" routerLink="/onboard">Skip this step</span>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="top">
          <img src="assets/img/login/benefits_screen.png">

        </div>
        <div class="bottom">
          <span class="block font-bold text-3xl">Benefit Management</span>
          <ion-text color="dark">
            <span class="block text-sm my-3">Lorem Ipsum is simply dummy text</span>
          </ion-text>

          <ion-button color="primary" fill="solid" shape="round">Continue</ion-button>
        </div>
      </ion-slide>



    </ion-slides>

  </div>


</ion-content>
