<!-- <div id="strip" style="margin-top: var(--ion-safe-area-top);">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div> -->
<div style="position: absolute; width: 100%; top: var(--ion-safe-area-top); z-index: 1; background: url('assets/img/strip.png'); background-size: cover; height: 8px"></div>

<ion-content>

  <div class="wrapper" style="margin-top: var(--ion-safe-area-top);">

    <ion-slides #slides [options]="slideOpts" mode="md">

      <ion-slide>
        <div class="top">
          <img src="assets/img/login/claims_screen.png">

        </div>
        <div class="bottom">
          <span class="block font-bold text-2xl leading-tight text-black dark:text-dark-modegraylight">Claims Management</span>
          <ion-text color="dark">
            <span class="block text-sm my-3 px-6 text-black dark:text-dark-modegraylight">Find all your Claims records here. You can now submit a Claim, view your Claims history and export your Claims Statement on the App.</span>
          </ion-text>

          <ion-button color="primary" fill="solid" shape="round" (click)='goToSlide()'>Next</ion-button>
          <span class="block mt-1 text-sm text-gray-700" (click)="continueToApp()">Skip this step</span>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="top">
          <img src="assets/img/login/360_view_screen.png">

        </div>
        <div class="bottom">
          <span class="block font-bold text-2xl leading-tight text-black dark:text-dark-modegraylight">360&deg; View</span>
          <ion-text color="dark">
            <span class="block text-sm my-3 px-6 text-black dark:text-dark-modegraylight">Enjoy a personalised experience on the App. Here you will have a 360 view of your profile, view your recent activity, Balances, Option type, Add or terminate a dependant, Membership number and acess to your personal health records.</span>
          </ion-text>

          <ion-button color="primary" fill="solid" shape="round" (click)='goToSlide()'>Next</ion-button>

          <span class="block mt-1 text-sm text-gray-700" (click)="continueToApp()">Skip this step</span>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="top">
          <img src="assets/img/login/benefits_screen.png">

        </div>
        <div class="bottom">
          <span class="block font-bold text-2xl leading-tight text-black dark:text-dark-modegraylight">Benefit Management</span>
          <ion-text color="dark">
            <span class="block text-sm my-3 px-6 text-black dark:text-dark-modegraylight">Manage and view your benefit usage, Access your documents (Member certificate/Tax certificate), Request a new card, and View your Option and Dependant info here.</span>
          </ion-text>

          <ion-button color="primary" fill="solid" shape="round" (click)="continueToApp()">Continue</ion-button>
        </div>
      </ion-slide>



    </ion-slides>

  </div>


</ion-content>
