<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot=start>
      <ion-back-button defaultHref="/onboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="list-wrapper">
    <ion-item detail>
      <ion-icon name="information-circle" slot="start"></ion-icon>
      Join Gems
    </ion-item>
    <ion-item detail>
      <ion-icon name="information-circle" slot="start"></ion-icon>
      Our Plans
    </ion-item>
    <ion-item detail>
      <ion-icon name="information-circle" slot="start"></ion-icon>
      About Gems
    </ion-item>
    <ion-item detail>
      <ion-icon name="information-circle" slot="start"></ion-icon>
      Explore Options
    </ion-item>
    <ion-item detail>
      <ion-icon name="information-circle" slot="start"></ion-icon>
      Access Enrolment Pack
    </ion-item>
    <ion-item detail>
      <ion-icon name="information-circle" slot="start"></ion-icon>
      Programmes
    </ion-item>
  </div>
</ion-content>
