<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <img slot="start" style="width: 30px" src="assets/img/logo.png" alt="">
    <ion-title>{{optionTitle}}</ion-title>
  </ion-toolbar>
  <div class="gems-border">
    <div class="rainbow">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="w-full p-4" *ngIf="!isEVOOption">
    <!-- <div class="p-2 rounded text-center" style="background: #00b5a6;"> -->
    <div class="p-4 rounded text-sm" style="background: #00b5a6;">
      <span>
        <li class="text-white">Your current option is <span class="font-bold">{{plan | titlecase}}</span>, you are now
          about to change your
          membership option for 2021 to <span class="font-bold">{{optionTitle}}</span>.</li>
        <li class="text-white">Please note: if you are found to have used your personal medical savings account (PMSA)
          on the Ruby option, such
          use may result in you being indebted to the Scheme for any claims funded by the Scheme in excess of your PMSA
          contributions.</li>
        <li class="text-white">Please note: When changing from any other benefit option to EVO or Tanzanite One, you and
          your dependants are
          each required to nominate a GP.</li>


      </span>

    </div>
    <button [disabled]="true"
      class="bg-gems-primary-blue p-4 mt-4 text-gray-200 font-bold text-lg w-full rounded-full disabled:opacity-50">
      Change Benefit Option
    </button>
  </div>

  <div *ngIf="isEVOOption" class="p-4">
    <form [formGroup]="optionChangeForm" (ngSubmit)='changeToEVOOption()' class="mt-2">
      <ion-item lines="none">
        <ion-label position="stacked">First Name</ion-label>
        <ion-input autocomplete="off" type="text" name="mainMemberFirstName"
          formControlName="mainMemberFirstName"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Last Name</ion-label>
        <ion-input type="text" name="mainMemberLastName" formControlName="mainMemberLastName"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Member Number</ion-label>
        <ion-input type="number" position="stacked" name="memberNumber" formControlName="memberNumber">
        </ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">Province</ion-label>
        <ion-select formControlName="mainMemberProvince" value="brown" okText="Okay" cancelText="Dismiss">
          <ion-select-option *ngFor="let province of provinces" [value]="province">
            {{province.Description}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" *ngIf="cities.length > 0 && cities">
        <ion-label position="stacked">City</ion-label>
        <ion-select formControlName="mainMemberCity" value="brown" okText="Okay" cancelText="Dismiss">
          <ion-select-option *ngFor="let city of cities" [value]="city">
            {{city.Description}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none" *ngIf="gps.length > 0 && gps">
        <ion-label position="stacked">Family Practitioner</ion-label>
        <ion-select formControlName="mainMemberPractitioner" value="brown" okText="Okay" cancelText="Dismiss">
          <ion-select-option *ngFor="let gp of gps" [value]="gp">
            {{gp.Description}}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item lines="none">
        <ion-label class="ion-text-wrap"><span>Would you like to select the same practitioner for dependants?</span>
        </ion-label>
        <!-- Checked Checkbox -->
        <ion-checkbox formControlName="Doyouwanttoapplythispractitionertoall"
          name="Doyouwanttoapplythispractitionertoall" slot="end" checked="true"></ion-checkbox>
      </ion-item>

      <div class="p-0" *ngIf="optionChangeForm.value.Doyouwanttoapplythispractitionertoall === false">
        Dependants Forms
        <div formArrayName="Dependants"
          *ngFor="let dependant of optionChangeForm.get('Dependants')['controls']; let i = index;">
          <div [formGroupName]="i">
            <div class="flex justify-between bg-gems-primary-blue text-gray-200 font-semibold p-3 rounded">
              <div>
                {{optionChangeForm.get('Dependants')['controls'][i]['controls'].FullName.value}}
              </div>
              <div>
                {{optionChangeForm.get('Dependants')['controls'][i]['controls'].BeneficiaryNumber.value}}
              </div>
              
              <!-- {{form['controls']['itens']['controls'][index]['controls'].description}} -->
            </div>
            <!-- <ion-item lines="none">
              <ion-label position="stacked">First Name</ion-label>
              <ion-input autocomplete="off" type="text" name="FullName"
                formControlName="FullName"></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label position="stacked">Beneficiary Number</ion-label>
              <ion-input autocomplete="off" type="text" name="BeneficiaryNumber"
                formControlName="BeneficiaryNumber"></ion-input>
            </ion-item> -->

            <ion-item lines="none" class="my-2">
              <ion-label position="stacked">Province</ion-label>
              <ion-select formControlName="DependantProvince" value="brown" okText="Okay" cancelText="Dismiss">
                <ion-select-option *ngFor="let province of provinces" [value]="province">
                  {{province.Description}}</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item lines="none" class="my-2">
              <ion-label position="stacked">City</ion-label>
              <ion-select formControlName="DependantCity" value="brown" okText="Okay" cancelText="Dismiss">
                <ion-select-option *ngFor="let city of cities" [value]="city">
                  {{city.Description}}</ion-select-option>
              </ion-select>
            </ion-item>
      
            <ion-item lines="none" class="my-2" *ngIf="gps.length > 0 && gps">
              <ion-label position="stacked">Family Practitioner</ion-label>
              <ion-select formControlName="DependantsPractitioner" value="brown" okText="Okay" cancelText="Dismiss">
                <ion-select-option *ngFor="let gp of gps" [value]="gp">
                  {{gp.Description}}</ion-select-option>
              </ion-select>
            </ion-item>
          </div>
        </div>
      </div>


      <!-- <div
    formArrayName="dependants"
  //  *ngFor="let dependant of optionChangeForm.get('dependants')['controls']; let i = index;"
  >
    <div [formGroupName]="i">
      <input formControlName="PracticeNumber" placeholder="Item name">
      <input formControlName="DependantProvince" placeholder="Item description">
      <input formControlName="DependantCity" placeholder="Item price">
    </div>
  </div> -->


      <button [disabled]="optionChangeForm.invalid"
        class="bg-gems-primary-blue p-4 mt-4 text-gray-200 font-bold text-lg w-full rounded-full disabled:opacity-50">
        Change Benefit Option
      </button>
    </form>
  </div>
</ion-content>