<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>
<div id="strip">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<div
  style="position: absolute; width: 100%; top: 55px; z-index: 1; background: url('assets/img/strip.png'); background-size: cover; height: 8px">
</div>

<ion-content class="ion-padding">
  <div *ngIf="screenMode === 0">
    <form [formGroup]="registrationForm" (ngSubmit)='register()' class="mt-2">
      <ion-item lines="none">
        <ion-input autocomplete="off" placeholder="User Name" type="text" name="UserName" formControlName="UserName">
        </ion-input>
        <ion-button fill="clear" slot="end">
          <ion-icon color="primary" name="person-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <div class="text-xs text-red-600 block mb-1 px-3"
        *ngIf="(registerFormControl.UserName.dirty || registerFormControl.UserName.touched) && registerFormControl.UserName.errors?.required">User Name is
        required</div>


      <ion-item lines="none">
        <ion-input type="text" name="MemberIDNumber" placeholder="ID Number" formControlName="MemberIDNumber">
        </ion-input>
        <ion-button fill="clear" slot="end">
          <ion-icon color="primary" name="id-card-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <div class="text-xs text-red-600 block mb-1 px-3"
        *ngIf="(registerFormControl.MemberIDNumber.dirty || registerFormControl.MemberIDNumber.touched) && registerFormControl.MemberIDNumber.errors?.maxlength">ID
        number should be
        13 characters long</div>
      <div class="text-xs text-red-600 block mb-1 px-3"
        *ngIf="(registerFormControl.MemberIDNumber.dirty || registerFormControl.MemberIDNumber.touched) && registerFormControl.MemberIDNumber.errors?.minlength">ID
        number should be
        13 characters long</div>
      <div class="text-xs text-red-600 block mb-1 px-3"
        *ngIf="(registerFormControl.MemberIDNumber.dirty || registerFormControl.MemberIDNumber.touched) && registerFormControl.MemberIDNumber.errors?.required">ID
        Number is required
      </div>


      <ion-item lines="none">
        <ion-input type="password" position="stacked" placeholder="Password" name="Password" formControlName="Password"
          autocomplete="new-password"></ion-input>
        <ion-button fill="clear" slot="end">
          <ion-icon color="primary" name="key-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <div class="text-xs text-red-600 block mb-1 px-3"
        *ngIf="(registerFormControl.Password.dirty || registerFormControl.Password.touched) && registerFormControl.Password.errors?.required">Password is
        required</div>
      <div class="text-xs text-red-600 block mb-1 px-3"
        *ngIf="(registerFormControl.Password.dirty || registerFormControl.Password.touched) && registerFormControl.Password.errors?.pattern">Password must be
        at least 8
        characters containing a
        least a capital letter, a number and a special character (e.g #,!,@).
      </div>



      <ion-item lines="none">
        <ion-input type="password" position="stacked" placeholder="Confirm Password" name="ConfirmPassword"
          formControlName="ConfirmPassword" autocomplete="new-password"></ion-input>
        <ion-button fill="clear" slot="end">
          <ion-icon color="primary" name="key-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <div class="text-xs text-red-600 block mb-1 px-3" *ngIf="(registerFormControl.ConfirmPassword.dirty || registerFormControl.ConfirmPassword.touched) && registerFormControl.ConfirmPassword.errors?.required">This field is
        required.</div>
      <div class="text-xs text-red-600 block mb-1 px-3"
        *ngIf="(registerFormControl.ConfirmPassword.dirty || registerFormControl.ConfirmPassword.touched) && registerFormControl.ConfirmPassword.errors?.passwordMismatch">
        Passwords do not match
      </div>

      <!-- <div class="w-full px-3 inline-block">
        <p class="text-xs flex items-center py-2" style="color:#949494; position: relative;top: -9px;">Password must
          be at least 8 characters containing a least a
          capital letter, a number and a special character (e.g #,!,@).</p>
      </div> -->

      <ion-item lines="none">
        <ion-input type="tel" name="CellphoneNumber" placeholder="Cell Number (062XXXX89)"
          formControlName="CellphoneNumber"></ion-input>
        <ion-button fill="clear" slot="end">
          <ion-icon color="primary" name="call-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <div class="text-xs text-red-600 block mb-1 px-3"
        *ngIf="(registerFormControl.CellphoneNumber.dirty || registerFormControl.CellphoneNumber.touched) && registerFormControl.CellphoneNumber.errors?.required">
        Cell Number is
        required</div>
      <div class="text-xs text-red-600 block mb-1 px-3"
        *ngIf="(registerFormControl.CellphoneNumber.dirty || registerFormControl.CellphoneNumber.touched) && registerFormControl.CellphoneNumber.errors?.minlength">
        Cell Phone Number cannot be less than 10 digits long</div>
      <div class="text-xs text-red-600 block mb-1 px-3"
        *ngIf="(registerFormControl.CellphoneNumber.dirty || registerFormControl.CellphoneNumber.touched) && registerFormControl.CellphoneNumber.errors?.maxlength">
        Cell Phone Number cannot be more than 10 digits long</div>

      <ion-item lines="none">
        <ion-input type="text" name="GEMSMemberNumber" placeholder="Member Number" formControlName="GEMSMemberNumber">
        </ion-input>
        <ion-button fill="clear" slot="end">
          <ion-icon color="primary" name="key-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <div class="text-xs text-red-600 block mb-1 px-3" *ngIf="(registerFormControl.GEMSMemberNumber.dirty || registerFormControl.GEMSMemberNumber.touched) && registerFormControl.GEMSMemberNumber.errors?.required">GEMS Member Number
        is required</div>

      <ion-item lines="none">
        <ion-label position="stacked">Where did you hear about GEMS?</ion-label>
        <ion-select formControlName="Referrals" okText="Okay" cancelText="Dismiss">
          <ion-select-option *ngFor="let refferalOption of refferalOptions" [value]="refferalOption" name="Referrals">
            {{refferalOption.Description}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="text-xs text-red-600 block mb-1 px-3" *ngIf="(registerFormControl.Referrals.dirty || registerFormControl.Referrals.touched) && registerFormControl.Referrals.errors?.required">Please select an option
      </div>
      <!-- <ion-button fill="solid" expand="block" shape="round" color="primary" type="submit"
        [disabled]="registrationForm.invalid">Register</ion-button> -->

      <button [disabled]="registrationForm.invalid"
        class="bg-gems-primary-blue p-4 text-gray-200 font-bold text-lg w-full rounded-full disabled:opacity-50">
        Register
      </button>
    </form>
  </div>

  <div class="rounded-xl md:w-2/3" *ngIf="screenMode === 1 && registrationResponse">
    <div *ngIf="registrationResponse" class="w-full text-center bg-green-200 p-5 rounded mt-1">
      <span class="block text-sm">We have just sent you an OTP(One Time Pin) to {{registrationResponse.Cellnumber}}
        Please enter the 6 digit number in the field below.
        (Depending on your carrier it may take up to 1 minute).</span>
    </div>
    <form [formGroup]="otpForm" (ngSubmit)='submitOTP()' class="mt-6">


      <div class="w-full md:w-full lg:w-full block">
        <ion-item lines="none">
          <ion-label position="stacked">Enter OTP XXXXXX</ion-label>
          <ion-input type="text" name="OTPPin" formControlName="OTPPin"></ion-input>
        </ion-item>
        <div class="text-xs text-red-600 block" *ngIf="otpErrorHandling('OTPPin', 'required')">OTP is required</div>
        <div class="text-xs text-red-600 block" *ngIf="otpErrorHandling('OTPPin', 'minlength')">OTP Pin should be 6
          digits long</div>
        <div class="text-xs text-red-600 block" *ngIf="otpErrorHandling('OTPPin', 'maxlength')">OTP Pin should be 6
          digits long</div>
        <!-- <mat-form-field appearance="outline">
          <input matInput autocomplete="off" type="text" name="OTPPin" formControlName="OTPPin"
            class="">
          <mat-icon matSuffix>perm_identity</mat-icon>
          <div *ngIf="otpErrorHandling('OTPPin', 'required')">OTP is required</div>
          <div *ngIf="otpErrorHandling('OTPPin', 'minlength')">OTP Pin should be 6 digits long</div>
          <div *ngIf="otpErrorHandling('OTPPin', 'maxlength')">OTP Pin should be 6 digits long</div>
        </mat-form-field> -->
      </div>


      <button [disabled]="otpForm.invalid"
        class="bg-gems-primary-blue p-4 text-gray-200 font-bold text-lg w-full rounded-full disabled:opacity-50">
        Submit OTP
      </button>
      <!-- <ion-button fill="solid" expand="block" shape="round" color="primary" type="submit" [disabled]="otpForm.invalid">
        Submit OTP</ion-button> -->
    </form>

  </div>

</ion-content>