<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img slot="start" style="width: 30px" src="assets/img/logo.png" alt="">
    <ion-title>Contact GEMS</ion-title>
  </ion-toolbar>
  <div class="gems-border">
    <div class="rainbow">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ion-header>
<!-- <div class="gems-border"></div> -->

<ion-content>
  <div style="padding: 10px;">







    <div class="py-1">
      <span class="uppercase text-xs font-bold">ENQUIRIES</span>
    </div>
    <div class="shadow rounded-lg overflow-hidden">
      <ion-item (click)="openContact()">
        <ion-icon class="text-beryl" name="call" slot="end"></ion-icon>
        <ion-label>
          <span class="font-bold block">Contact Options</span>
          <p>Tap here to call</p>
        </ion-label>
      </ion-item>
      <ion-item lines="none" (click)="openPicker()">
        <ion-icon class="text-beryl" name="mail" slot="end"></ion-icon>
        <ion-label>
          <span class="font-bold block">Email Options</span>
          <p>Tap to open</p>
        </ion-label>
      </ion-item>
    </div>
  
    <div class="py-1" *ngIf="contactOptions">
      <span class="uppercase text-xs font-bold">CALL CENTRE</span>
    </div>
    <div class="shadow rounded-lg overflow-hidden">
      <div [ngClass]="{'bg-emerald_value': contactOptions?.IsOpen, 'bg-ruby': contactOptions?.IsOpen === false}" class="text-white px-4 py-3 flex justify-between items-center">
        <span class="text-sm font-semibold">Currently {{isCallCentreOpen}}</span>
        <span *ngIf="contactOptions?.IsOpen" class="text-xs">{{contactOptions?.OpenHoursToday}}</span>
      </div>
      <ion-item>
        <ion-icon class="text-tanzanite_one" name="business" slot="end"></ion-icon>
        <ion-label>
          <span class="font-bold block">08h00 - 17h00</span>
          <span class="text-xs uppercase text-gray-600">Monday - Friday</span>
        </ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon class="text-tanzanite_one" name="business" slot="end"></ion-icon>
        <ion-label>
          <span class="font-bold block">08h00 - 12h00</span>
          <span class="text-xs uppercase text-gray-600">Saturday</span>
        </ion-label>
      </ion-item>
    </div>

    <div class="shadow rounded-lg overflow-hidden mt-2">
      <ion-item mode="md" routerLink="compliments" lines="none">
        <ion-icon class="text-emerald_value" name="megaphone" slot="end"></ion-icon>
        <ion-label>
          <span class="font-bold block">Complaints/Compliments</span>
          <span class="text-xs uppercase text-gray-600">Tap to open</span>
        </ion-label>
      </ion-item>
    </div>


    <div class="shadow rounded-lg overflow-hidden mt-2">
      <ion-item mode="md" routerLink="walk-in-centres" lines="none">
        <ion-icon class="text-ruby" name="map" slot="end"></ion-icon>
        <ion-label>
          <span class="font-bold block">Provincial Walk-In Centres</span>
          <span class="text-xs uppercase text-gray-600">Tap to open</span>
        </ion-label>
      </ion-item>
    </div>



    <div class="shadow rounded-lg overflow-hidden mt-2">
      <ion-item mode="md" routerLink="surveys" lines="none">
        <ion-icon class="text-beryl" name="layers" slot="end"></ion-icon>
        <ion-label>
          <span class="font-bold block">Complete Survey</span>
          <span class="text-xs uppercase text-gray-600">Tap to open</span>
        </ion-label>
      </ion-item>
    </div>
  </div>

  
</ion-content>
