<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img slot="start" style="width: 30px" src="assets/img/logo.png" alt="">
    <ion-title>Contact GEMS</ion-title>
  </ion-toolbar>
  <div class="gems-border">
    <div class="rainbow">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ion-header>
<!-- <div class="gems-border"></div> -->

<ion-content class="ion-padding">
  <div class="p-4">
    <span class="uppercase text-xs font-bold">ENQUIRIES</span>
  </div>
  <ion-card>
    <ion-item (click)="call()">
      <ion-icon name="call" slot="end"></ion-icon>
      <ion-label>
        <h2>Call Centre</h2>
        <p>0860 00 4367</p>
      </ion-label>
    </ion-item>
    <ion-item (click)="openPicker()">
      <ion-icon name="mail" slot="end"></ion-icon>
      <ion-label>
        <h2>Email Options</h2>
        <p>Tap to open</p>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-button expand="block" (click)="getCurrentPosition()">Get Current Position</ion-button>
</ion-content>
