<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs/contact"></ion-back-button>
    </ion-buttons>
    <img slot="start" style="width: 30px" src="assets/img/logo.png" alt="">
    <ion-title>Walk-In Centres</ion-title>
  </ion-toolbar>
  <div class="gems-border">
    <div class="rainbow">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ion-header>

<ion-content>
  <div #map id="map"></div>

  <!-- <div *ngIf="centres && centres.length > 0" class="map-slides-wrapper">
    <ion-slides [options]="slideOptions">
      <ion-slide *ngFor="let centre of centres">
        <div class="map-card">
          <ion-item lines="none">
            <ion-icon color="primary" slot="start" name="map"></ion-icon>
            <ion-label>
              <h3>{{centre?.AddressLine1}}</h3>
              <p>{{centre?.Province.Description}}</p>
            </ion-label>
          </ion-item>
        </div>
      </ion-slide>

    </ion-slides>
  </div> -->
</ion-content>
