<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img slot="start" style="width: 30px" src="assets/img/logo.png" alt="">
    <ion-title>Claims History</ion-title>
  </ion-toolbar>
  <div class="gems-border">
    <div class="rainbow">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row class="ion-no-padding">
      <ion-col>
        <div class="flex capitalize font-bold">
          <div routerLink="/tabs/tabs/claims"
            class="w-1/2 shadow-lg flex flex-col bg-white dark:bg-black rounded-lg items-center py-4 px-2">
            <img class="svg-icon" src="assets/img/home/claims_fill.svg" alt="">
            <div style="height: 10px;"></div>
            <span class="dark:text-white font-semibold text-xs tracking-wide leading-tight">Claim Statements
            </span>
          </div>
          <div style="width: 10px;"></div>
          <div routerLink="/tabs/tabs/submit-claim"
            class="w-1/2 shadow-lg flex flex-col bg-white dark:bg-black rounded-lg items-center py-4 px-2">
            <img class="svg-icon" src="assets/img/home/claims_fill.svg" alt="">
            <div style="height: 10px;"></div>
            <span class="dark:text-white font-semibold text-xs tracking-wide leading-tight">Submit Claim
            </span>
          </div>
          <!-- <div class="w-1/2 shadow-lg flex flex-col bg-white dark:bg-black rounded-lg items-start py-6 px-5">
            <img class="svg-icon mb-2" src="assets/img/home/claims_fill.svg" alt="">
            <div style="height: 5px;"></div>
            <span class="dark:text-white font-semibold text-xs tracking-wide">Submit
              <span class="block">A Claim</span>
            </span>
          </div> -->
        </div>

      </ion-col>
    </ion-row>

    <ion-row class="ion-no-padding">
      <ion-col>
        <!-- <div class="flex justify-between items-center mt-2 mb-3">
          <span class="text-lg font-semibold dark:text-gray-200">Claims History</span>
          <span class="text-xs font-semibold text-yellow-500">View All</span>
        </div> -->
        <!-- <ion-toolbar class="rounded-lg" color="primary">
            <ion-segment [(ngModel)]="dateStatus" mode="ios">
              <ion-segment-button (click)="updateDateFrom()" color="primary" value="from">
                <ion-label><span class="block text-xs">Date From</span><span class="font-bold">{{dateFrom}}</span></ion-label>
              </ion-segment-button>
              <ion-segment-button (click)="updateDateTill()" color="primary" value="till">
                <ion-label><span class="block text-xs">Date Till</span><span class="font-bold">{{dateTill}}</span></ion-label>
              </ion-segment-button>
            </ion-segment>
        </ion-toolbar> -->
        <div>
        <div class="rounded-lg overflow-hidden">
          <ion-item>
            <ion-label class="font-bold" position="floating">Filter By Status</ion-label>
            <ion-select value="all" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="all">All Statuses</ion-select-option>
              <ion-select-option value="settled">Settled</ion-select-option>
              <ion-select-option value="rejected">Rejected</ion-select-option>
              <ion-select-option value="pending">Pending</ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <div class="p-0 shadow-lg flex">
          <div class="w-1/2">
            <ion-item>
              <ion-label class="font-bold" position="floating">Date From</ion-label>
              <ion-datetime displayFormat="MMM D, YYYY" min="2005" max="2016" value="2008-09-02"></ion-datetime>
            </ion-item>
          </div>
          <div class="w-1/2">
            <ion-item>
              <ion-label class="font-bold" position="floating">Date To</ion-label>
              <ion-datetime displayFormat="MMM D, YYYY" min="2005" max="2016" value="2008-09-02"></ion-datetime>
            </ion-item>
          </div>
        </div>

      </div>


        <div class="mt-2" *ngIf="isLoading">
          <ion-item class="my-1 rounded" lines="full" *ngFor="let item of [1, 2, 3, 4, 5, 6]">
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </div>

        <div class="mt-2">
          <div class="py-1" *ngFor="let claim of claims; let i = index;" (click)="toggleSection(i)">
            <ion-item detail="false" lines="full" button>
              <ion-avatar
                [ngClass]="{'bg-emerald_value': claim?.summary.rejected === 0, 'bg-ruby': claim?.summary.rejected === 1}"
                class="p-2 rounded text-white" name="" slot="start">
                <img src="assets/img/home/claims_fill.svg" alt="">
              </ion-avatar>
              <ion-note slot="end"><span class="text-xs text-yellow-500 font-bold">R {{claim.feesCharged.Amount}}</span>
              </ion-note>
              <!-- <ion-icon slot="end" name="chevron-forward" mode="ios" *ngIf="!claim.open"></ion-icon>
              <ion-icon slot="end" name="chevron-down" mode="ios" *ngIf="claim.open"></ion-icon> -->
              <ion-label class="font-semibold">
                <span class="block">{{claim?.PatientName | titlecase}}</span>
                <span class="text-xs font-thin">{{claim?.Provider | titlecase}}</span>
                <!-- <span class="text-xs font-thin block ">{{claim?.dateAssessed | titlecase | date: 'fullDate'}}</span> -->
              </ion-label>
            </ion-item>
            <div *ngIf="claim.open" class="bg-white dark:bg-black p-4 flex"
              [ngClass]="{'block': claim.open, 'hidden': !claim.open}">
              <div class="w-1/2">
                <span class="text-xs block">Ref No.</span>
                <span class="text-sm font-semibold">{{claim.referenceNumber}}</span>
                <div style="height: 10px;"></div>
                <span class="text-xs block">Benefit</span>
                <span class="text-sm font-semibold">{{claim.benefitAmount.Amount | currency: 'R'}}</span>
              </div>
              <div class="w-1/2">
                <span class="text-xs block">Date</span>
                <span class="text-sm font-semibold">{{claim?.dateAssessed | titlecase | date: 'fullDate'}}</span>
                <div style="height: 10px;"></div>
                <span class="text-xs block">Member Potion</span>
                <span class="text-sm font-semibold">{{claim.memberPortion.Amount | currency: 'R'}}</span>
              </div>
            </div>
          </div>
        </div>
        <div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>