

<ion-content>
  <div style="height: 300px; width: 100%;" class="p-4 flex flex-col justify-between">
    <div class="text-center">
      <span class="font-semibold text-2xl">Important Notice</span>
    </div>
    <div class="text-center">
      The application has been idle for more than 5 minutes. Please note that you will be automatically logged out after {{count}} seconds
    </div>
    <div>
      <ion-button expand="block" shape="round">Continue</ion-button>
    </div>
    
  </div>
  
</ion-content>
