<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-black dark:text-gray-400" defaultHref="/tabs/tabs/profile"></ion-back-button>
    </ion-buttons>
    <img slot="start" style="width: 30px" src="assets/img/logo.png" alt="">
    <ion-title>Adding Dependants</ion-title>
  </ion-toolbar>
  <div class="gems-border">
    <div class="rainbow">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <span class="block">To register a dependant, various supporting documentation will be required from you to submit</span>

    <span class="font-semibold mt-3 block">Main member</span>
    <ul>
      <li>&bull; A copy of each dependant's ID or birth certificate</li>
      <li>&bull;  If in a customary marriage, a declaration from the member confirming obligation towards his/her spouse.</li>
    </ul>

    <span class="font-semibold mt-3 block">Spouse</span>
    <ul>
      <li>&bull; A marriage certificate</li>
      <li>&bull; If in a customary marriage, a declaration from the member confirming obligation towards his/her spouse.</li>
    </ul>

    <span class="font-semibold mt-3 block">Ex Spouse</span>
    <ul>
      <li>&bull; Evidence of legal obligation to provide medical support per divorce settlement or court e.g the Divorce Order</li>
    </ul>

    <span class="font-semibold mt-3 block">Partner</span>
    <ul>
      <li>&bull; A declaration confirming that the dependant is the member's life partner.</li>
    </ul>

    <span class="font-semibold mt-3 block">Child under the age of 21</span>
    <ul>
      <li>&bull; A declaration confirming obligation towards the child and reason for difference in surname if the child's last name differs from the main member</li>
      <li>&bull; Legal documentation if child is adopted</li>
    </ul>

    <span class="font-semibold mt-3 block">Child of 21 and older</span>
    <ul>
      <li>&bull; For students :
        <ul>
          <li>&bull; Proof of registration at a recognized tertiary institution</li>
          <li>&bull; A declaration confirming factual dependency on the main member</li>
          <li>&bull; For mental or physical disability:</li>
          <li>&bull; Proof of disability from a medical practitioner (a medical assessment report completed by a practitioner)</li>
          <li>&bull; A declaration confirming factual dependency on the main member, and that the child is not in a state institution</li>
          <li>&bull; If the child is not a student or disabled:</li>
          <li>&bull; A declaration confirming factual dependency on the member.</li>
        </ul>
      </li>
    </ul>

    <span class="font-semibold mt-3 block">Extended Family
      <span class="font-normal">(Parents, step parents, parents-in-law,
        step-parents-in-law, grandparents or grandparents-in-law)</span></span>
    <ul>
      <li>&bull; A declaration confirming obligation towards the child and reason for difference in surname if the child's last name differs from the main member</li>
      <li>&bull; Legal documentation if child is adopted</li>
    </ul>

    <span class="font-semibold mt-3 block">Note:</span>
    <ul>
      <li>&bull; Adult dependant rates are payable for all eligible dependents over the age of 21.</li>
      <li>&bull; Child rates are payable for disabled dependants and dependants under 28 years who are enrolled for any course(s) or undergoing supervised practical training</li>
      <li>&bull; Your adult dependent(s) will be subject to at least an annual eligibility review. You must provide proof of dependency of all dependants over the age of 21 every year. Proof of eligibilty may be required e.g proof of student registration</li>
    </ul>



    


  </div>
</ion-content>
