<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs/profile/edit"></ion-back-button>
    </ion-buttons>
    <img slot="start" style="width: 30px" src="assets/img/logo.png" alt="">
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
  <div class="gems-border">
    <div class="rainbow">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ion-header>

<ion-content class="ion-padding">
  <!-- SCREEM MODE 0-->
  <div *ngIf="screenMode === 0">
    <form [formGroup]="updatePasswordForm" (ngSubmit)='requestUpdatePassword()'>


        <ion-item lines="none">
          <!-- <ion-label position="stacked">Password</ion-label> -->
          <ion-input type="password"
            name="Password" position="stacked" formControlName="Password" placeholder="Password"></ion-input>
        </ion-item>
        <div class="text-xs text-red-600 block" *ngIf="(updatePasswordFormControl.Password.touched) && updatePasswordFormControl.Password.errors?.required">Password is required</div>
        <div class="text-xs text-red-600 block" *ngIf="(updatePasswordFormControl.Password.dirty) && updatePasswordFormControl.Password.errors?.pattern">Password must be at least 8 characters containing a least a capital letter, a number and a special character (e.g #,!,@).</div>



        <ion-item lines="none">
          <ion-input type="password" position="stacked" placeholder="Confirm Password" name="ConfirmPassword"
            formControlName="ConfirmPassword" autocomplete="new-password"></ion-input>
          <ion-button fill="clear" slot="end">
            <ion-icon color="primary" name="key-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <div class="text-xs text-red-600 block" *ngIf="(updatePasswordFormControl.Password.touched) && updatePasswordFormControl.Password.errors?.required">Password confirmation is required</div>
        <div class="text-xs text-red-600 block mb-1 px-3"
          *ngIf="updatePasswordFormControl.ConfirmPassword.dirty && updatePasswordFormControl.ConfirmPassword.errors?.passwordMismatch">
          Passwords do not match
        </div>


        <div class="px-3 mt-5">
            <button [disabled]='updatePasswordForm.invalid'
                class="bg-gems-primary-blue p-4 text-gray-200 font-bold text-lg w-full rounded-full disabled:opacity-50">
                Update
                Password
            </button>
        </div>

    </form>
</div>


<!-- SCREEM MODE 1 -->
<div *ngIf="screenMode === 1">
  <div *ngIf="requestOTPResponse" class="w-full text-center bg-green-200 p-5 rounded mt-6">
    <span class="block text-sm">We have just sent you an OTP(One Time Pin) to {{requestOTPResponse.Cellnumber}}
      Please enter the 6 digit number in the field below.
      (Depending on your carrier it may take up to 1 minute).</span>
  </div>
  <form [formGroup]="otpForm" (ngSubmit)='validateOTP()' class="mt-2">

    <ion-item lines="none">
      <ion-input autocomplete="off" placeholder="Enter OTP XXXXXX" type="text" name="OTPPin" formControlName="OTPPin">
      </ion-input>
      <ion-button fill="clear" slot="end">
        <ion-icon color="primary" name="person-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <div class="text-xs text-red-600 block" *ngIf="(otpFormControl.OTPPin.touched) && otpFormControl.OTPPin.errors?.required">OTP is required</div>


    <button [disabled]="otpForm.invalid"
      class="bg-gems-primary-blue p-4 text-gray-200 font-bold text-lg w-full rounded-full disabled:opacity-50">
      Submit OTP
    </button>
  </form>
</div>


</ion-content>
