<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Member</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>

      <ion-menu-toggle>
        <ion-item lines="none" routerLink="/card">
          <ion-icon name="card" slot="start"></ion-icon>
          Digital Card
        </ion-item>
      </ion-menu-toggle>
      <!-- <ion-menu-toggle>
        <ion-item lines="none" routerLink="/tabs/tabs/documents">
          <ion-icon name="download" slot="start"></ion-icon>
          My Downloads
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" routerLink="/card">
          <ion-icon name="call" slot="start"></ion-icon>
          Digital Card
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" routerLink="/card">
          <ion-icon name="call" slot="start"></ion-icon>
          Digital Card
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle>
        <ion-item (click)="logout()" lines="none">
          <ion-icon name="log-out" slot="start"></ion-icon>
          Log Out
        </ion-item>
      </ion-menu-toggle> -->
      

    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>