<ion-app>
  <ion-menu mode="md" side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Member</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>

      <ion-menu-toggle>
        <ion-item lines="inset" routerLink="/card">
          <ion-icon name="card" slot="start"></ion-icon>
          Digital Card
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="inset" routerLink="/tabs/tabs/feedback">
          <ion-icon name="megaphone" slot="start"></ion-icon>
          Feedback
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item (click)="logout()" lines="inset">
          <ion-icon name="log-out" slot="start"></ion-icon>
          Log Out
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="inset" [routerLink]="['/term-of-use']">
          <ion-icon name="book" slot="start"></ion-icon>
          Terms Of Use
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="full">
          <!-- <ion-icon name="download" slot="start"></ion-icon> -->
          ICT support desk: (012) 366 4618
        </ion-item>
      </ion-menu-toggle>
      

      <!-- <ion-menu-toggle>
        <ion-item lines="none" routerLink="/tabs/tabs/documents">
          <ion-icon name="download" slot="start"></ion-icon>
          My Downloads
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" routerLink="/card">
          <ion-icon name="call" slot="start"></ion-icon>
          Digital Card
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item lines="none" routerLink="/card">
          <ion-icon name="call" slot="start"></ion-icon>
          Digital Card
        </ion-item>
      </ion-menu-toggle> -->




    </ion-content>
    <ion-footer>
      <div class="h-20 bg-gray-200">

      </div>
    </ion-footer>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>