<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="pre-login"></ion-back-button>
    </ion-buttons>
    <img slot="start" style="width: 30px" src="assets/img/logo.png" alt="">
    <ion-title>  Benefit Options</ion-title>
  </ion-toolbar>
  <div class="gems-border">
    <div class="rainbow">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ion-header>


<ion-content ion-padding>
  <ion-card routerLink="/option">
    <ion-item lines="none" detail>
      <ion-avatar slot="start">
        <img src="assets/img/plans/beryl.png">
      </ion-avatar>
      <ion-label>
        <h2>Beryl</h2>
        <p>Entry-Level Benefit Option</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item routerLink="/option" lines="none" detail>
      <ion-avatar slot="start">
        <img src="assets/img/plans/tanzanite.png">
      </ion-avatar>
      <ion-label>
        <h2>Tanzanite One</h2>
        <p>Entry-Level Benefit Option</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item routerLink="/option" lines="none" detail>
      <ion-avatar slot="start">
        <img src="assets/img/plans/emerald.png">
      </ion-avatar>
      <ion-label>
        <h2>Emerald</h2>
        <p>Entry-Level Benefit Option</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item routerLink="/option" lines="none" detail>
      <ion-avatar slot="start">
        <img src="assets/img/plans/emerald-value.png">
      </ion-avatar>
      <ion-label>
        <h2>Emerald Value</h2>
        <p>Entry-Level Benefit Option</p>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-item routerLink="/option" lines="none" detail>
      <ion-avatar slot="start">
        <img src="assets/img/plans/onyx.png">
      </ion-avatar>
      <ion-label>
        <h2>Onyx</h2>
        <p>Entry-Level Benefit Option</p>
      </ion-label>
    </ion-item>
  </ion-card>
  <ion-card>
    <ion-item routerLink="/option" lines="none" detail>
      <ion-avatar slot="start">
        <img src="assets/img/plans/ruby.png">
      </ion-avatar>
      <ion-label>
        <h2>Ruby</h2>
        <p>Entry-Level Benefit Option</p>
      </ion-label>
    </ion-item>
  </ion-card>

</ion-content>
