ion-content {
    --background: transparent;
    background: #f4f4f4;
  }
  h2 {
    font-weight: 500;
  }
  p {
    font-weight: normal;
  }
  
  
  ion-title {
    display: flex !important;
  }
  
  