<div class="bg-white dark:bg-dark-modegray" style="position: absolute; top: 0; height: constant(safe-area-inset-top); height: env(safe-area-inset-top); z-index: 1; width: 100%;"></div>
<div style="position: absolute; width: 100%; top: constant(safe-area-inset-top); top: env(safe-area-inset-top); top: var(--ion-safe-area-top); z-index: 1; background: url('assets/img/strip.png'); background-size: cover; height: 6px"></div>

<ion-content>
  <div class="wrapper">
    <div class="top">
      <img src="assets/img/information.png" alt="">
      <p class="text-white dark:text-dark-modegraylight">What would you like to do?</p>
    </div>
    <div class="bottom">
      <div class="shadow-lg bg-white dark:bg-black mx-4 my-3 mt-5 rounded-md">
        <ion-item routerLink="/tabs/tabs/claims-home/submit-claim" lines="none" button detail>
          <ion-icon class="text-black dark:text-dark-modegraylight" name="book-outline" slot="start">
          </ion-icon>
          <ion-label>
            <span class="text-black text-lg font-semibold  dark:text-dark-modegraylight">Submit A Claim</span>
          </ion-label>
        </ion-item>
      </div>

      <div class="shadow-lg bg-white dark:bg-black mx-4 my-3 rounded-md">
        <ion-item routerLink="/tabs/tabs/profile" lines="none" button detail>
          <ion-icon class="text-black dark:text-dark-modegraylight" name="book-outline" slot="start">
          </ion-icon>
          <ion-label>
            <span class="text-black text-lg font-semibold dark:text-dark-modegraylight">View My Balance</span>
          </ion-label>
        </ion-item>
      </div>

      <div class="shadow-lg bg-white dark:bg-black mx-4 my-3 mb-6 rounded-md">
        <ion-item (click)="updateProfile()" lines="none" button detail>
          <ion-icon class="text-black dark:text-dark-modegraylight" name="book-outline" slot="start">
          </ion-icon>
          <ion-label>
            <span class="text-black text-lg font-semibold dark:text-dark-modegraylight">Update Profile</span>
          </ion-label>
        </ion-item>
      </div>

      <!-- <ion-button style="margin: 0 20px;" shape="round" type="submit" color="primary" expand="full" (click)="navigateToHome()">Skip</ion-button> -->
      <div class="mx-4">
        <button (click)="navigateToHome()" class="bg-gems-primary-blue py-3 text-gray-200 font-bold text-lg w-full rounded-full disabled:opacity-50">
          SKIP
        </button>
      </div>
      
      
    </div>
  </div>
</ion-content>
