.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: var(--ion-color-primary);
}
.top {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    img {
        width: 100px;
    }
    p {
        color: #fff;
        font-size: 30px;
        text-align: center;
        font-weight: bold;
    }
}
.bottom {
    height: 50vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: #eee;
}
ion-item {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  // Dark Mode Styling
@media (prefers-color-scheme: dark) {
    ion-item {
      margin-bottom: 5px;
      border-radius: 10px;
      border: 1px solid #000 !important;
    }
    .bottom {
        background: #202020;
    }
  }