<ion-header joyrideStep="welcome" title="Welcome to the new GEMS Member App." [text]="'We’ve designed the new Member App with you in mind, creating a savvy and personalised experience just for you. Click next to go through the new features.'">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button class="text-black dark:text-dark-modegraylight">
        <ion-icon src="./assets/img/menu.svg"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
    <ion-title><span class="font-normal">Hello, </span> <b>{{profile?.FirstName | titlecase}}</b></ion-title>
    <div slot="end" *ngIf="member">
      <img class="w-10 rounded-full mb-1 ml-1 mr-2 border-solid border-2 border-gray-600 p-1"
        src="https://api.gems.gov.za/api/v1/MemberImage/{{member?.MemberGuid}}?counter=0" alt="">
    </div>
  </ion-toolbar>
</ion-header>
<div class="gems-border">
  <div class="rainbow">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<ion-content>
  <!-- <div>{{this.auth.timeLeftBeforeAppCloses.getValue()}}</div> -->
  <div class="header-area">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col col-12>
          <img width="100%" class="text-white rounded-br-3xl" src="assets/img/home.png" alt="">
        </ion-col>
        <!-- <ion-col col-6 class="ion-no-padding name-section">
          <p>YOUR BALANCE</p>
          <h1 class="heading">R900.00</h1>
        </ion-col>
        <ion-col col-6 class="ion-no-padding ion-text-end">
          <div class="logo"></div>
        </ion-col> -->
      </ion-row>
    </ion-grid>
  </div>

  <div class="options-grid">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col col-4 class="ion-no-padding">
          <div joyrideStep="claims" title="Filter Your Claims" text="We've taken away all of the clutter from the menu options, so you can focus on what matters to you most." routerLink="/tabs/tabs/claims-home"
            class="bg-white dark:bg-black icon-box right-5 bottom-5 ion-activatable ripple-parent">
            <img class="svg-icon" src="assets/img/home/claims_fill.svg" alt="">
            <span class="title text-black dark:text-dark-modegraylight">Claims</span>
          </div>
        </ion-col>
        <ion-col col-4 class="ion-no-padding">
          <div joyrideStep="benefits" title="Benefit Management" text="Manage and view your benefit usage, access your documents (member certificate or tax certificate), request a new card, and view your option and dependant info here." routerLink="/tabs/tabs/benefits" class="bg-white dark:bg-black icon-box right-5 bottom-5">
            <img class="svg-icon" src="assets/img/home/benefits_fill.svg" alt="">
            <span class="title text-black dark:text-dark-modegraylight">Benefits</span>
          </div>
        </ion-col>
        <ion-col col-4 class="ion-no-padding">
          <div joyrideStep="profile" title="Improved 360&deg; View" text="Enjoy a personalised experience on the GEMS Member App." routerLink="/tabs/tabs/profile" class="icon-box bottom-5 bg-white dark:bg-black">
            <img class="svg-icon" src="assets/img/home/360_white.svg" alt="">
            <span class="title text-black dark:text-dark-modegraylight">360&deg; View</span>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4 class="ion-no-padding">
          <div routerLink="/tabs/tabs/documents" class="icon-box right-5 bg-white dark:bg-black">
            <img class="svg-icon" src="assets/img/home/download_white.svg" alt="">
            <span class="title text-black dark:text-dark-modegraylight">Downloads</span>
          </div>
        </ion-col>
        <ion-col col-4 class="ion-no-padding">
          <div joyrideStep="help" title="Help" text="Welcome To Benefits and the rest of the text is just to see how this would look if there was a lot of text. We could actually even have lots of more text and it would not look bad at all. Now we need contant!" routerLink="/tabs/tabs/contact" class="icon-box right-5 bg-white dark:bg-black">
            <img class="svg-icon" src="assets/img/home/help.svg" alt="">
            <span class="title text-black dark:text-dark-modegraylight">Help</span>
          </div>
        </ion-col>
        <ion-col col-4 class="ion-no-padding">
          <div joyrideStep="authorisations" title="Authorisations" text="Request and view all authorisations." routerLink="/tabs/tabs/authorisation" class="icon-box bg-white dark:bg-black">
            <img class="svg-icon" src="assets/img/home/authorisation.png" alt="">
            <span class="title text-black dark:text-dark-modegraylight">Authorisations</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <!-- This example requires Tailwind CSS v2.0+ -->
  <div *ngIf="profile?.isPrincipleMember && profile?.isChangePlanAvailable && profile?.optionChangeEvoOnly && profile.Plan.BenefitPlanName === 'EMERALD'"
    class="rounded-md p-4 mx-4 my-4 bg-gems-primary-blue dark:bg-black shadow-md" routerLink="/tabs/tabs/option-change">
    <div class="flex">
      <div class="flex-shrink-0">
        <!-- Heroicon name: solid/check-circle -->
        <svg class="h-5 w-5 text-white dark:text-dark-modegraylight" xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path fill-rule="evenodd"
            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
            clip-rule="evenodd" />
        </svg>
      </div>
      <div class="ml-3">
        <span class="text-sm font-bold text-white dark:text-dark-modegraylight block">
          GEMS 2021 EVO Switch is now open for members on Emerald.
          
        </span>

        <div class="flex justify-end">
          <span class="text-white block bg-gems-secondary-blue p-2 text-center rounded-md mt-1 text-xs font-bold shadow-md"> Change Option</span>
        </div>
        
        
        
      </div>
    </div>
    <!-- <div class="flex justify-start ml-8">
      <div class="bg-gems-primary-blue text-white p-3 text-xs mt-3 block rounded-full font-bold tracking-widest">Change Option</div>
    </div> -->
  </div>

  <!-- <button
        class="bg-gems-primary-blue p-4 text-gray-200 font-bold text-lg w-full rounded-full disabled:opacity-50">
        Register
      </button> -->

  <!-- <div class="options-grid">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col col-4 class="ion-no-padding">
          <div routerLink="/tabs/tabs/claims-landing" class="bg-white dark:bg-black icon-box right-5 bottom-5 ion-activatable ripple-parent">
            <img class="svg-icon" src="assets/img/home/claims_fill.svg" alt="">
            <span class="title">Claims</span>
          </div>
        </ion-col>
        <ion-col col-4 class="ion-no-padding">
          <div routerLink="/tabs/tabs/benefits" class="bg-white dark:bg-black icon-box right-5 bottom-5">
            <img class="svg-icon" src="assets/img/home/benefits_fill.svg" alt="">
            <span class="title">Benefits</span>
          </div>
        </ion-col>
        <ion-col routerLink="/tabs/tabs/profile" col-4 class="ion-no-padding">
          <div class="icon-box bottom-5 bg-white dark:bg-black">
            <img class="svg-icon" src="assets/img/home/360_white.svg" alt="">
            <span class="title">360&deg; View</span>
          </div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-4 class="ion-no-padding">
          <div class="icon-box right-5 bg-white dark:bg-black">
            <img class="svg-icon" src="assets/img/home/download_white.svg" alt="">
            <span class="title">Downloads</span>
          </div>
        </ion-col>
        <ion-col col-4 class="ion-no-padding">
          <div class="icon-box right-5 bg-white dark:bg-black">
            <img class="svg-icon" src="assets/img/home/help.svg" alt="">
            <span class="title">Help</span>
          </div>
        </ion-col>
        <ion-col col-4 class="ion-no-padding">
          <div class="icon-box bg-white dark:bg-black">
            <img class="svg-icon" src="assets/img/home/more.svg" alt="">
            <span class="title">More</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->


  <div class="activity">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col col-12 class="ion-no-padding">
          <ion-label>
            <h2 class="activity-title dark:text-dark-modegraylight text-gray-900">Explore</h2>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12 class="ion-no-padding">
          <ion-slides [options]="exploreOpt">
            <ion-slide *ngFor="let post of posts" (click)="navigateToPost(post)">
              <div class="shadow-md bg-white dark:bg-black rounded-lg">
                <div style="position: relative">
                  <div class="rainbow" style="width: 70%; bottom: 0px;">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <div class="w-full bg-red-300">
                    <img style="height: 100px; width: 100%" class="object-cover w-full" [src]="'assets/img/_' + post?.id +'.jpg'" alt="">
                  </div>

                </div>
                <div class="text-gray-800 dark:text-dark-modegraylight flex justify-center p-2">
                  <span class="font-semibold text-sm" [innerHTML]="post.title"></span>
                </div>
              </div>
            </ion-slide>
            <ion-slide *ngFor="let post of posts" (click)="navigateToPost(post)">
              <div class="shadow-md bg-white dark:bg-black rounded-lg">
                <div style="position: relative">
                  <div class="rainbow" style="width: 70%; bottom: 0px;">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <div class="w-full bg-red-300">
                    <img style="height: 100px; width: 100%" class="object-cover w-full" [src]="'assets/img/_' + post?.id +'.jpg'" alt="">
                  </div>

                </div>
                <div class="text-gray-800 dark:text-dark-modegraylight flex justify-center p-2">
                  <span class="font-semibold text-sm" [innerHTML]="post.title"></span>
                </div>
              </div>
            </ion-slide>

            <!-- <ion-slide>
              <div class="shadow-sm bg-white dark:bg-black rounded-lg">
                <div style="position: relative">
                  <div class="rainbow" style="width: 70%; bottom: 0px;">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <div style="height: 150px width: 100%; position: relative;">
                    <img class="object-cover w-full" src="assets/img/tanzanite1.png" alt="">
                  </div>

                </div>
                <div class="text-gray-800 dark:text-dark-modegraylight flex p-2">
                  <span class="font-semibold text-sm">News</span>
                </div>
              </div>
            </ion-slide>


            <ion-slide>
              <div class="shadow-sm bg-white dark:bg-black rounded-lg">
                <div style="position: relative">
                  <div class="rainbow" style="width: 70%; bottom: 0px;">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                  </div>
                  <div style="height: 150px width: 100%; position: relative;">
                    <img class="object-cover w-full" src="assets/img/tanzanite1.png" alt="">
                  </div>

                </div>
                <div class="text-gray-800 dark:text-dark-modegraylight flex p-2">
                  <span class="font-semibold text-sm">News</span>
                </div>
              </div>
            </ion-slide> -->





          </ion-slides>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col>
          <img class="ad" src="assets/img/ad.jpg" alt="">
        </ion-col>
      </ion-row> -->
    </ion-grid>
  </div>

  <!-- <div class="notification">
    <div class="description">
      <p>Take A Covid-19 Self Screening Assessment</p>
      <ion-button (click)="takeAssessment()" size="small" color="danger">Start</ion-button>
    </div>
    <div class="sideimg">
      <img src="assets/img/virus.png" alt="">
    </div>

  </div> -->

  <!-- <div class="activity">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col col-12 class="ion-no-padding">
          <ion-label>
            <h2 class="activity-title">Recent Activity</h2>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-no-padding">
          <div class="activity-list-wrapper">
            <ion-item button detail>
              <ion-label>
                <h2>Change Requested</h2>
              </ion-label>
            </ion-item>
            <ion-item button detail>
              <ion-label>
                <h2>Change Requested</h2>
              </ion-label>
            </ion-item>
            <ion-item button detail>
              <ion-label>
                <h2>Change Requested</h2>
              </ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->


  <!-- <div class="activity" *ngIf="!news">
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col col-12 class="ion-no-padding">
          <ion-label>
            <h2 class="activity-title">
              <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
            </h2>
          </ion-label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-no-padding">
          <div class="activity-list-wrapper">
            <ion-item detail button>
              <ion-thumbnail slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-thumbnail>
              <ion-label>
                <h2>
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </h2>
                <p>
                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
            <ion-item detail button>
              <ion-thumbnail slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-thumbnail>
              <ion-label>
                <h2>
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </h2>
                <p>
                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
            <ion-item detail button>
              <ion-thumbnail slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-thumbnail>
              <ion-label>
                <h2>
                  <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
                </h2>
                <p>
                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                </p>
              </ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->

  <div style="height: 20px"></div>

  <!-- fab placed to the bottom end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="startTour()">
      <ion-icon src="assets/icon/info.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>