<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>
<div id="strip">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<div
  style="position: absolute; width: 100%; top: 64px; z-index: 1; background: url('assets/img/strip.png'); background-size: cover; height: 8px">
</div>

<ion-content class="ion-padding">
  <!-- Screen Mode 0 -->
  <div class="w-full" *ngIf="screenMode === 0">
    <div class="w-full text-center bg-green-200 p-5 rounded mt-1 mb-3">
      <span class="block text-sm">Please enter your Username and GEMS Member Number/ID Number and we will send you an
        OTP</span>
    </div>
  
    <form [formGroup]="resetPasswordForm" (ngSubmit)='onSubmithandler()'>
      <ion-item lines="none">
        <ion-input placeholder="User Name" autocomplete="off" type="text" name="UserName" formControlName="UserName"></ion-input>
        <ion-button fill="clear" slot="end">
          <ion-icon color="primary" name="person-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <div class="text-xs text-red-600 block" *ngIf="errorHandling('UserName', 'required')">User Name is required</div>
      <div class="text-xs text-red-600 block" *ngIf="errorHandling('UserName', 'minlength')">User Name should have a
        minium of 5 characters
        long
      </div>
  
      <ion-item lines="none">
        <ion-input placeholder="GEMS Member number/ ID Number" autocomplete="off" type="text" name="GEMSMemberNumber" formControlName="GEMSMemberNumber"></ion-input>
        <ion-button fill="clear" slot="end">
          <ion-icon color="primary" name="id-card-outline"></ion-icon>
        </ion-button>
      </ion-item>
      <div class="text-xs text-red-600 block" *ngIf="errorHandling('GEMSMemberNumber', 'required')">GEMS Member number/ ID
        Number is required
      </div>
      <div class="text-xs text-red-600 block" *ngIf="errorHandling('GEMSMemberNumber', 'minlength')">GEMS Member number/
        ID Number should
        have
        a minium of 5 characters long
      </div>
      <div class="text-xs text-red-600 block" *ngIf="errorHandling('GEMSMemberNumber', 'maxlength')">GEMS Member number/
        ID number should
        have
        a maximum of 13 characters long
      </div>
  
  
      <button type="submit" [disabled]="resetPasswordForm.invalid"
        class="bg-gems-primary-blue p-4 text-gray-200 font-bold text-lg w-full rounded-full disabled:opacity-50">
        Reset Password
      </button>
    </form>
  </div>


  <!-- Screen Mode 1 -->
  <div *ngIf="screenMode === 1 && isLoading == false" class="py-10 px-10 rounded-xl md:w-2/3">

    <div *ngIf="registrationResponse" class="w-full text-center bg-green-200 p-5 rounded mt-6">
      <span class="block text-sm">We have just sent you an OTP(One Time Pin) to {{registrationResponse.Cellnumber}}
        Please enter the 6 digit number in the field below.
        (Depending on your carrier it may take up to 1 minute).</span>
    </div>
    <form [formGroup]="otpForm" (ngSubmit)='submitOTP()' class="mt-6">
          <ion-item lines="none">
            <ion-label position="stacked">Enter OTP XXXXXX</ion-label>
            <ion-input autocomplete="off" type="text" name="OTPPin" formControlName="OTPPin"></ion-input>
          </ion-item>
          <div class="text-xs text-red-600 block" *ngIf="otpErrorHandling('OTPPin', 'required')">OTP is required</div>
          <div class="text-xs text-red-600 block" *ngIf="otpErrorHandling('OTPPin', 'minlength')">OTP Pin should be 6 digits long</div>
          <div class="text-xs text-red-600 block" *ngIf="otpErrorHandling('OTPPin', 'maxlength')">OTP Pin should be 6 digits long</div>

      <button [disabled]="otpForm.invalid"
        class="bg-gems-primary-blue p-4 text-gray-200 font-bold text-lg w-full rounded-full disabled:opacity-50">
        Submit OTP
      </button>
    </form>
  </div>


  <!-- Screen Mode 2 -->
  <div *ngIf="screenMode === 2">
    <form [formGroup]="submitNewPasswordForm" (ngSubmit)='submitNewPassword()' class="mt-10">
        <ion-item lines="none">
          <ion-input autocomplete="off" placeholder="Password" type="text" name="Password" formControlName="Password"></ion-input>
        </ion-item>
          <div class="text-xs text-red-600 block" *ngIf="submitNewPasswordErrorHandling('Password', 'required')">Password is required</div>
          <div class="text-xs text-red-600 block" *ngIf="submitNewPasswordErrorHandling('Password', 'pattern')">Password must be at least 8
            characters containing a
            least a capital letter, a number and a special character (e.g #,!,@).
          </div>

          <ion-item lines="none">

            <ion-input placeholder="Confirm Password" autocomplete="off" type="text" name="ConfirmPassword" formControlName="ConfirmPassword"></ion-input>
          </ion-item>
          <div class="text-xs text-red-600 block" *ngIf="submitNewPasswordErrorHandling('ConfirmPassword', 'required')">This field is required.
          </div>
          <div class="text-xs text-red-600 block" *ngIf="this.helper.confirmedValidator">Passwords do not match</div>


      <div class="w-full px-3 -mt-2 inline-block">
        <p class="text-gray-700 text-xs">Password must be at least 8 characters containing a least a capital letter, a
          number and a special character (e.g #,!,@).</p>
      </div>

      <button [disabled]="submitNewPasswordForm.invalid"
        class="bg-gems-primary-blue p-4 text-gray-200 font-bold text-lg w-full rounded-full disabled:opacity-50">
        Reset Password
      </button>
    </form>
  </div>

  



</ion-content>