<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs/contact/surveys"></ion-back-button>
    </ion-buttons>
    <img slot="start" style="width: 30px" src="assets/img/logo.png" alt="">
    <ion-title>Walk-n Centre</ion-title>
  </ion-toolbar>
  <div class="gems-border">
    <div class="rainbow">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ion-header>

<ion-content class="ion-padding">

  <form [formGroup]="walkInCentreForm" (ngSubmit)="submitFeedback()">

    <ion-item lines="none">
      <ion-label position="stacked">Region</ion-label>
      <ion-select formControlName="Region" okText="Okay" cancelText="Dismiss">
        <ion-select-option *ngFor="let region of regions" [value]="region.Description">
          {{region.Description}}</ion-select-option>
      </ion-select>
    </ion-item>

    

    <ion-item lines="none" *ngIf="this.walkInCentreForm.value.Region">
      <ion-label position="stacked">Walk In Centre</ion-label>
      <ion-select formControlName="WalkinCentre" okText="Okay" cancelText="Dismiss">
        <ion-select-option *ngFor="let walkinCentre of walkInCentres" [value]="walkinCentre.AddressLine3">
          {{walkinCentre.AddressLine3}}</ion-select-option>
      </ion-select>
    </ion-item>





    <div>
      <span class="block text-black text-sm font-medium mt-2 pb-4">Did the helpdesk agent help solve your enquiry?</span>
      <div class="rounded overflow-hidden bg-white">
        <ion-radio-group (ionChange)="didHelpDeskAgentHelpSolveProblem($event)" formControlName="didHelpDeskAgentHelpSolveProblem">
          <ion-item mode="md">
            <ion-icon name="thumbs-down" color="danger" slot="start"></ion-icon>
            <ion-label>Yes</ion-label>
            <ion-radio [value]="true"></ion-radio>
          </ion-item>
          <ion-item mode="md" lines="none">
            <ion-icon name="thumbs-up" color="success" slot="start"></ion-icon>
            <ion-label>No</ion-label>
            <ion-radio [value]="false"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>

    </div>


    <div>
      <span class="block text-black text-sm font-medium pb-4 mt-4">Did the helpdesk agent help you in a friendly and professional manner?</span>
      <div class="rounded overflow-hidden bg-white">
        <ion-radio-group (ionChange)="wasTheAgentFriendlyAndProfessional($event)" formControlName="wasTheAgentFriendlyAndProfessional">
          <ion-item mode="md">
            <ion-icon name="thumbs-up" color="success" slot="start"></ion-icon>
            <ion-label>Yes</ion-label>
            <ion-radio [value]="true"></ion-radio>
          </ion-item>
          <ion-item mode="md" lines="none">
            <ion-icon name="thumbs-down" color="danger" slot="start"></ion-icon>
            <ion-label>No</ion-label>
            <ion-radio [value]="false"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
    </div>


    <div>
      <span class="block text-black text-sm font-medium pb-4 mt-4">Were you helped on time?</span>
      <div class="rounded overflow-hidden bg-white">
        <ion-radio-group (ionChange)="wereYouHelpedOnTime($event)" formControlName="wereYouHelpedOnTime"
          class="rounded overflow-hidden bg-white">
          <ion-item mode="md">
            <ion-icon name="thumbs-up" color="success" slot="start"></ion-icon>
            <ion-label>Yes</ion-label>
            <ion-radio [value]="true"></ion-radio>
          </ion-item>
          <ion-item mode="md" lines="none">
            <ion-icon name="thumbs-down" color="danger" slot="start"></ion-icon>
            <ion-label>No</ion-label>
            <ion-radio [value]="false"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </div>
    </div>


    <button [disabled]="walkInCentreForm.invalid"
      class="bg-gems-primary-blue p-4 text-gray-200 font-bold text-lg w-full rounded-full disabled:opacity-50 mt-3">
      Submit Your Feedback
    </button>


  </form>





</ion-content>
