ion-content {
    --background: transparent;
    background: #eee;
}
ion-item {
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid #eeeeee;
}
ion-input {
    --padding-top: 15px;
    --padding-bottom: 15px;
}