<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs/claims-landing"></ion-back-button>
    </ion-buttons>
    <img slot="start" style="width: 30px" src="assets/img/logo.png" alt="">
    <ion-title>Submit A Claim</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">
  <div class="text-white dark:text-gray-500 p-4 text-sm bg-emerald_value text-center rounded">
    The claim will be submitted for the following member:
  </div>
  <ion-item>
    <ion-label position="stacked">Title</ion-label>
    <ion-input disabled type="text" [(ngModel)]="title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">First Name</ion-label>
    <ion-input disabled type="text" [(ngModel)]="firstName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Last Name</ion-label>
    <ion-input disabled type="text" [(ngModel)]="lastName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Date Of Birth</ion-label>
    <ion-input disabled type="text" [(ngModel)]="DOB"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Membership Number</ion-label>
    <ion-input disabled type="text" class="text-black" [(ngModel)]="memberNo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Upload File</ion-label>
    <input class="my-2" type="file" #fileInput id="uploadFile" (change)="uploadFileEvt($event)" name="uploadFile">
  </ion-item>

  <ion-button [disabled]="baseURL === 'https://api.gems.gov.za'" (click)="submitClaim()" expand="block" color="primary" fill="solid">Submit Claim</ion-button>


</ion-content>
