<div id="strip">
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
<div style="position: absolute; width: 100%; top: 0; z-index: 1; background: url('assets/img/strip.png'); background-size: cover; height: 8px"></div>

<ion-content>
  <div class="wrapper">
    <div class="logowrap">
      <div class="logo">
        <img src="assets/img/gemslogo.png" width="221" height="95">
      </div>
    </div>


    <div class="bottombtn">

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-button shape="round" expand="block" fill="outline" color="light" routerLink="/login">Login</ion-button>
            <ion-button shape="round" color="primary" expand="block" routerLink="/pre-login">Learn About GEMS</ion-button>

          </ion-col>
        </ion-row>
      </ion-grid>

    </div>
  </div>

</ion-content>
