<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Benefits</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar (ionChange)="filterBenefits($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>
<div class="gems-border">
  <div class="rainbow">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="px-2 py-1" *ngFor="let benefit of benefits; let i = index;" (click)="toggleSection(i)">
    <ion-item lines="full" button>
      <ion-icon class="bg-gems-primary-blue p-2 rounded text-white" name="receipt" slot="start"></ion-icon>
      <ion-icon slot="end" name="chevron-forward" mode="ios" *ngIf="!benefit.open"></ion-icon>
      <ion-icon slot="end" name="chevron-down" mode="ios" *ngIf="benefit.open"></ion-icon>
      <ion-label class="font-semibold">{{benefit?.Description | titlecase}}</ion-label>
    </ion-item>
    <div *ngIf="benefit.open" class="bg-white dark:bg-black p-4" [ngClass]="{'block': benefit.open, 'hidden': !benefit.open}">
      <span> <span class="font-semibold">R{{benefit.FreeAmount.Amount}}</span> of <span class="font-semibold">R{{benefit.MaxAmount.Amount}}</span> available</span>
      <ion-progress-bar [value]="+benefit.FreeAmount.Amount/+benefit.MaxAmount.Amount"></ion-progress-bar>
      <!-- <p>{{+benefit.MaxAmount.Amount/+benefit.FreeAmount.Amount}}</p>
      <p>{{+benefit.FreeAmount.Amount/+benefit.MaxAmount.Amount}}</p> -->
    </div>
  </div>

</ion-content>