<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs/profile"></ion-back-button>
    </ion-buttons>
    <img slot="start" style="width: 30px" src="assets/img/logo.png" alt="">
    <ion-title>Update Profile</ion-title>
  </ion-toolbar>
  <div class="gems-border">
    <div class="rainbow">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ion-header>

<ion-content class="bg-white">
  <div *ngIf="profile" class="bg-gems-primary-blue px-4 py-8 flex items-center border-b border-solid border-gray-400">
    <div class="text-black w-24 p-3">
      <img class="rounded-full w-full p-1 border-gray-400 border-2 border-solid" [src]="MemberImage" alt="">
    </div>
    <div class="flex-grow p-3">
      <span class="block text-lg font-bold leading-none text-white">{{profile?.FullName | titlecase}}</span>
      <span class="text-sm text-white">{{profile?.MemberNo}}</span>
    </div>
  </div>

  <div class="p-3">
    <div class="bg-white border-gray-600 rounded-md overflow-hidden">
      <ion-item [routerLink]="['personal-information', profile?.BeneficiaryID]" lines="none" class="rounded overflow-hidden border-b" detail>
        <ion-icon name="accessibility-outline" slot="start"></ion-icon>
        <ion-label class="text-sm font-medium">
          Personal Information
        </ion-label>
      </ion-item>
      <ion-item [routerLink]="['contact-information', profile?.BeneficiaryID]" lines="none" class="rounded overflow-hidden border-b" detail>
        <ion-icon name="call-outline" slot="start"></ion-icon>
        <ion-label class="text-sm font-medium">
          Contact Information
        </ion-label>
      </ion-item>
      <ion-item [routerLink]="['emergency-information', profile?.BeneficiaryID]" lines="none" class="rounded overflow-hidden border-b" detail>
        <ion-icon name="alert-circle-outline" slot="start"></ion-icon>
        <ion-label class="text-sm font-medium">
          Emergency Information
        </ion-label>
      </ion-item>
      <ion-item *ngIf="profile?.isPrincipleMember" [routerLink]="['change-username', profile?.BeneficiaryID]" lines="none" class="rounded overflow-hidden border-b" detail>
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label class="text-sm font-medium">
          Change Username
        </ion-label>
      </ion-item>
      <ion-item *ngIf="profile?.isPrincipleMember" [routerLink]="['change-password', profile?.BeneficiaryID]" lines="none" class="rounded overflow-hidden border-b" detail>
        <ion-icon name="key-outline" slot="start"></ion-icon>
        <ion-label class="text-sm font-medium">
          Change Password
        </ion-label>
      </ion-item>
      <ion-item [routerLink]="['communication-preferences', profile?.BeneficiaryID]" lines="none" class="rounded overflow-hidden" detail>
        <ion-icon slot="start" name="chatbubble-ellipses-outline"></ion-icon>
        <ion-label class="text-sm font-medium">
          Communication Preferences
        </ion-label>
      </ion-item>
    </div>
  </div>
  

  






  <div style="height: 20px;"></div>
</ion-content>