<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs/profile"></ion-back-button>
    </ion-buttons>
    <img slot="start" style="width: 30px" src="assets/img/logo.png" alt="">
    <ion-title>My Dependants</ion-title>
  </ion-toolbar>
  <div class="gems-border">
    <div class="rainbow">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="px-2 pt-2">
    <div *ngFor="let dependant of dependants" [routerLink]="['dependant', dependant.toString()]" class="bg-white border-gray-600 mb-2 rounded overflow-hidden shadow-sm">
      <ion-item lines="none" class="border-b" detail>
        <ion-thumbnail slot="start" class="rounded overflow-hidden">
          <img [src]="'https://api.gems.gov.za/api/v1/MemberImage/' + dependant.BeneficiaryID + '?counter=0'" alt="">
        </ion-thumbnail>
        <ion-label>
          <span class="block text-lg capitalize font-semibold">{{dependant?.FullName}}</span>
          <span class="block text-sm capitalize font-medium">{{dependant?.MemberIDNo}}</span>
        </ion-label>
      </ion-item>
    </div>
  </div>

  <div class="p-2">
    <button class="bg-gems-primary-blue p-4 text-gray-200 font-bold text-lg w-full rounded-full disabled:opacity-50">
      Add Dependant
    </button>
  </div>




</ion-content>