<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>My Plan</ion-title>
  </ion-toolbar>
</ion-header>
<div class="gems-border">
  <div class="rainbow">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div> -->

<ion-content>
  <!-- <div class="bg-gray-100 w-screen p-5" style="height: 100vh">
    <div class="w-full h-full rounded-lg overflow-hidden flex flex-col items-center shadow-lg">
      <img class="h-full rounded-lg" src="assets/img/sapphire.jpg" alt="">
    </div>
    
  </div> -->

  <div class="bg-gray-300 w-screen" style="height: 100vh">
    <div class="w-full h-full rounded-lg p-6 overflow-hidden flex flex-col items-center">
      <div class="card shadow-lg rounded-md" (click)="cardClicked()" [@cardFlip]="state">
        <div class="face back">
          <img class="h-full" src="assets/img/sapphire.jpg" />
        </div>
        <div class="face front">
          <img class="h-full opacity-0" src="assets/img/sapphire.jpg" />
          <div class="absolute top-0 h-full bg-white overflow-hidden p-2 rounded-md">
            <div class="w-full">
              <div class="w-full inline-block">
                <div class="w-1/12">
                  <img class="w-6 rounded-sm" [src]="MemberImage" alt="">
                </div>

                <div class="w-11/12">
                  <span class="text-xs font-bold leading-tight">Member:</span> <span class="text-xs uppercase">  {{profile?.FullName}}</span>
                </div>
                
              </div>
              <div class="w-1/2 inline-block">
                <span class="text-xs font-bold leading-tight">Option:</span> <span class="text-xs uppercase">  {{profile?.Plan.BenefitPlanName}}</span>
              </div>

              <div class="w-1/2 inline-block">
                <span class="text-xs font-bold leading-tight">Gender:</span> <span class="text-xs uppercase">  {{profile?.Gender}}</span>
              </div>

              <div class="w-1/2 inline-block">
                <span class="text-xs font-bold leading-tight">Member No:</span> <span class="text-xs uppercase">  {{profile?.MemberNo}}</span>
              </div>

              <div class="w-1/2 inline-block">
                <span class="text-xs font-bold leading-tight">Benefit Date:</span> <span class="text-xs uppercase">  {{profile?.Plan?.EffectiveFromDate | date: 'mediumDate'}}</span>
              </div>

              <div class="w-1/2 inline-block">
                <span class="text-xs font-bold leading-tight">DOB/ID Number:</span> <span class="text-xs uppercase">  {{profile?.DOB | date: 'mediumDate'}}</span>
              </div>

            </div>

            <div class="w-full text-center">
              <span class="font-bold text-xs underline">Dependants</span>
            </div>

            <div class="w-full">
              <span class="text-xs font-bold w-1/12 inline-block"></span>
              <span class="text-xs font-bold w-2/12 inline-block">Name</span>
              <span class="text-xs font-bold w-3/12 inline-block">Gender</span>
              <span class="text-xs font-bold w-3/12 inline-block">DOB/ID Number</span>
              <span class="text-xs font-bold w-3/12 inline-block">Benefit Date</span>
            </div>
            <div class="w-full" *ngIf="profile">
              <div class="w-full" *ngFor="let dependant of profile.Dependants | slice:0:3">
                <span *ngIf="MemberImage" class="text-xs font-bold w-1/12 inline-block"><img class="w-6 rounded-sm" [src]="'https://api.gems.gov.za/api/v1/MemberImage/' + dependant.BeneficiaryID + '?counter=0'" alt="">
                </span>
                <span class="text-xs w-2/12 inline-block font-medium">{{dependant?.FullName | titlecase}}</span>
                <span class="text-xs w-3/12 inline-block">{{dependant?.Gender}}</span>
                <span class="text-xs w-3/12 inline-block">{{dependant?.DOB | date: 'mediumDate'}}</span>
                <span class="text-xs w-3/12 inline-block">{{dependant?.Plan?.EffectiveFromDate | date: 'mediumDate'}}</span>
              </div>
            </div>
            

            

          </div>
        </div>
      </div>
    </div>

  </div>



  <!-- fab placed to the bottom end -->
  <ion-fab vertical="top" horizontal="start" slot="fixed">
    <ion-fab-button (click)="closePage()">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>



  <!-- <div class="tp-wrapper">


    <div class="membership">
      <img src="assets/img/sapphire.jpg" alt="">
    </div>


  </div>
  <div class="card-wrapper">


    <div class="settings-list">
        <ion-item button>
          <ion-icon slot="start" name="card"></ion-icon>
          Activate Card
          <ion-toggle checked slot="end" color="primary"></ion-toggle>
        </ion-item>
        <ion-item detail button>
          <ion-icon slot="start" name="download"></ion-icon>
          Download Statement
        </ion-item>
        <ion-item detail button>
          <ion-icon slot="start" name="call"></ion-icon>
          Contact Support
        </ion-item>
        <ion-item lines="none" detail button>
          <ion-icon slot="start" name="settings"></ion-icon>
          Card Settings
        </ion-item>
    </div>
    
  </div> -->
</ion-content>