<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tabs/profile"></ion-back-button>
    </ion-buttons>
    <img slot="start" style="width: 30px" src="assets/img/logo.png" alt="">
    <ion-title>Activity</ion-title>
  </ion-toolbar>
  <div class="gems-border">
    <div class="rainbow">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</ion-header>

<ion-content class="ion-padding">

  <div class="p-4" *ngIf="memberHasNoActivity">
    <div class="bg-white p-4 text-center flex items-center justify-center h-20 shadow-md rounded">
      <span class="text-sm font-semibold">
        No activity to show
      </span>
    </div>
  </div>

  <ion-item *ngFor="let item of activity" class="shadow-md mb-2 rounded-lg" button detail lines="none">
    <ion-icon color="primary" slot="start" name="information-circle"></ion-icon>
    <ion-label class="ion-text-wrap">
      <span class="block font-semibold text-md text">{{item.Header}}</span>
      <span class="text-xs text-gray-600">{{item.DOA | date: 'mediumDate'}}</span>
    </ion-label>
  </ion-item>
  

  <div class="p-2" *ngIf="activity.length > 0">
    <button (click)="loadActivity()"
        class="bg-gems-primary-blue p-4 text-gray-200 font-bold text-lg w-full rounded-full disabled:opacity-50">
        Load More
      </button>
  </div>

</ion-content>
