<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button class="text-black dark:text-gray-400" defaultHref="/tabs/tabs/home"></ion-back-button>
    </ion-buttons>
    <img slot="start" style="width: 30px" src="assets/img/logo.png" alt="">
    <ion-title>Claims History (6 Months)</ion-title>
  </ion-toolbar>
  <div class="gems-border">
    <div class="rainbow">
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <ion-toolbar mode="md" color="primary">
    <!-- <ion-searchbar mode="md" placeholder="Search By Ref Code"></ion-searchbar> -->
    <ion-item>
      <ion-label>Filter By Status</ion-label>
      <ion-select (ionChange)="filterUpdate($event)" placeholder="Select One">
        <ion-select-option value="all">All</ion-select-option>
        <ion-select-option value="rejected">Rejected</ion-select-option>
        <ion-select-option value="pending">Pending</ion-select-option>
        <ion-select-option value="settled">Settled</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-no-padding benefit-slide">
    <!-- <ion-row class="details">
      <ion-col size="2">
        <img class="rounded-full p-1 border-gray-400 border-2 border-solid w-14" [src]="MemberImage" alt="">
      </ion-col>
      <ion-col size="10">
        <div class="rounded p-5">
          <span class="text-white text-lg font-bold uppercase block">{{profile?.FullName | titlecase}}</span>
          <span class="text-white text-xs uppercase block">Select A Dependant</span>
        </div>
      </ion-col>

    </ion-row>

    <ion-row class="ion-no-padding -mt-16">
      <ion-col>
        <div class="flex" style="padding: 15px;">
          <div class="w-1/2 shadow-md flex flex-col bg-white dark:bg-black p-1 rounded-lg items-center py-8 px-5">
            <img class="svg-icon mb-2" src="assets/img/home/claims_fill.svg" alt="">
            <div style="height: 10px;"></div>
            <span class="dark:text-white text-xs uppercase tracking-wide">MY CLAIMS</span>
            <span
              class="font-extrabold text-2xl tracking-tighter dark:text-white">HISTORY</span>
          </div>
          <div style="width: 20px;"></div>
          <div class="w-1/2 shadow-md flex flex-col bg-white dark:bg-black p-1 rounded-lg items-center py-8 px-5">
            <img class="svg-icon" src="assets/img/home/claims_fill.svg" alt="">
            <div style="height: 10px;"></div>
            <span class="dark:text-white text-xs uppercase tracking-wide">MY CLAIMS</span>
            <span
              class="font-extrabold text-2xl tracking-tighter dark:text-white">STATEMENTS</span>
          </div>
        </div>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-no-padding">
        <div class="mx-4">
          <div routerLink="/tabs/tabs/claims-home/submit-claim" class="text-white rounded shadow p-4 w-full text-center" style="background: var(--ion-color-primary);">
            Submit A Claim
          </div>
        </div>
        
      </ion-col>
    </ion-row> -->

    <!-- <div class="text-white bg-gems-primary-blue h-32">

    </div> -->
    <ion-row class="ion-no-padding mt-1 bg-gems-primary-blue">
      <ion-col>
        <div class="flex" style="padding: 15px;">
          <div routerLink="statements" class="w-1/2 shadow-md flex flex-col bg-white dark:bg-black p-1 rounded-lg items-center py-8 px-5">
            <img class="svg-icon mb-2" src="assets/img/home/claims_fill.svg" alt="">
            <div style="height: 10px;"></div>
            <span class="dark:text-white text-xs uppercase tracking-widest">Claims</span>
            <span
              class="font-extrabold text-2xl tracking-tighter dark:text-white">Statements</span>
          </div>
          <div style="width: 20px;"></div>
          <div routerLink="submit" class="w-1/2 shadow-md flex flex-col bg-white dark:bg-black p-1 rounded-lg items-center py-8 px-5">
            <img class="svg-icon" src="assets/img/home/claims_fill.svg" alt="">
            <div style="height: 10px;"></div>
            <span class="dark:text-white text-xs uppercase tracking-widest">Submit</span>
            <span
              class="font-extrabold text-2xl tracking-tighter dark:text-white">A Claim</span>
          </div>
        </div>

      </ion-col>
    </ion-row>

    <ion-row class="ion-padding" style="margin: 5px;">
      <ion-col>
        <div class="flex justify-between">
          <span class="text-xs uppercase font-semibold dark:text-gray-200">Latest Claims (6 Months)</span>
          <!-- <span class="text-xs text-yellow-500">View All</span> -->
        </div>



        <div *ngIf="!isLoading && claims && claims.length < 1" class="mt-4">
          <div class="bg-white p-4 text-center flex items-center justify-center h-14 shadow-md rounded-md">
            <span class="text-sm font-semibold">
              No Claims History to show
            </span>
          </div>
        </div>

        <div class="mt-3" *ngIf="isLoading">
          <ion-item class="my-1 rounded" lines="full" *ngFor="let item of [1, 2, 3, 4, 5, 6]">
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
            <ion-label>
              <h3>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </p>
            </ion-label>
          </ion-item>
        </div>

        <div class="mt-3">
          <div class="py-1" *ngFor="let claim of claims; let i = index;" (click)="toggleSection(i)">
            <ion-item detail="false" lines="none" class="rounded">
              <ion-avatar
                [ngClass]="{'bg-emerald_value': claim?.Status === 'SETTLED', 'bg-ruby': claim?.Status === 'REJECTED', 'bg-gems-primary-yellow': claim?.Status === null}"
                class="p-2 rounded text-white" name="" slot="start">
                <img src="assets/img/home/claims_fill.svg" alt="">
              </ion-avatar>
              <ion-note slot="end">
                <span class="text-xs text-black font-bold block">R {{claim.feesCharged.Amount}}</span>
                <span class="text-xs font-normal text-gray-700 block ">{{claim?.Status || 'PENDING' | titlecase}}</span>
              </ion-note>
              <!-- <ion-icon slot="end" name="chevron-forward" mode="ios" *ngIf="!claim.open"></ion-icon>
              <ion-icon slot="end" name="chevron-down" mode="ios" *ngIf="claim.open"></ion-icon> -->
              <ion-label class="font-semibold">
                <span class="block">{{claim?.PatientName | titlecase}}</span>
                <span class="text-xs text-gray-600 font-medium">{{claim?.Provider | titlecase}}</span>
              </ion-label>
            </ion-item>
            <div *ngIf="claim.open" class="bg-white dark:bg-black p-4 flex"
              [ngClass]="{'block': claim.open, 'hidden': !claim.open}">
              <div class="w-1/2">
                <span class="text-xs block">Ref No.</span>
                <span class="text-sm font-semibold">{{claim.referenceNumber}}</span>
                <div style="height: 10px;"></div>
                <span class="text-xs block">Benefit</span>
                <span class="text-sm font-semibold">{{claim.benefitAmount.Amount | currency: 'R'}}</span>
                <div style="height: 10px;"></div>
                <span class="text-xs block">Member Portion</span>
                <span class="text-sm font-semibold">{{claim.memberPortion.Amount | currency: 'R'}}</span>

                <div style="height: 10px;"></div>
                <button [routerLink]="['claim', claim.referenceNumber]"  class="bg-gems-primary-blue py-1 px-3 text-gray-200 font-normal text-sm w-auto rounded-md disabled:opacity-50">
        View Claim
      </button>
              
              </div>

              <div class="w-1/2">
                <span class="text-xs block">Date</span>
                <span class="text-sm font-semibold">{{claim?.dateAssessed | titlecase | date: 'fullDate'}}</span>
                <div style="height: 10px;"></div>
                <span class="text-xs block">Amount Charged</span>
                <span class="text-sm font-semibold">{{claim?.feesCharged.Amount | currency: 'R'}}</span>
              </div>

            </div>
          </div>
        </div>

        
        <div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>